<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add some basic styling */
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: center;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>{{title}}</h1>
    </div>
    <div class="content">
      {{#with deadlineTasks}}
      <div>
        <h2>Expirujúce úlohy</h2>
        
        <h3>Osobné</h3>
        <ul>
            {{#each personal}}
                <li><a href="{{../../url}}/tasks/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>

        <h3>Moje</h3>
        <ul>
            {{#each assignee_id}}
                <li><a href="{{../../url}}/tasks/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>

        <h3>Delegované</h3>
        <ul>
            {{#each creator_id}}
                <li><a href="{{../../url}}/tasks/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
      </div>
      {{/with}}

      {{#with reminders}}
      <div style="margin-top: 2rem;">
        <h2>Pripomienky</h2>

        <h3>Moje</h3>
        <ul>
            {{#each assignee_id}}
                <li><a href="{{../../url}}/tasks/{{this.task_id}}">{{this.description}}</a></li>
            {{/each}}
        </ul>

        <h3>Delegované</h3>
        <ul>
            {{#each creator_id}}
                <li><a href="{{../../url}}/tasks/{{this.task_id}}">{{this.description}}</a></li>
            {{/each}}
        </ul>
      </div>
      {{/with}}

      <div style="margin-top: 2rem;">
        <h2>Posledná aktivita</h2>
        <ul>
            {{#each updates}}
                <li><a href="{{../url}}/tasks/{{this.task_id}}">{{this.task.name}}</a> {{dateTime this.createdAt}} - {{this.description}}</li>
            {{/each}}
        </ul>
      </div>
    </div>
</body>
</html>
